services:
  postgres:
    image: postgres:15-alpine
    container_name: lms-postgres
    ports:
      - "${DB_PORT}:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z-cpuv1
    container_name: lms-storage
    command: server /data --console-address ":9001"
    ports:
      - "${STORAGE_PORT}:9090"
      - "${STORAGE_UI_PORT}:9001"
    environment:
      MINIO_ROOT_USER: ${STORAGE_USER}
      MINIO_ROOT_PASSWORD: ${STORAGE_PASSWORD}
    volumes:
      - storage_data:/data

volumes:
  postgres_data:
  storage_data: